//- Variables
//-------------------------------------------------
- var pageTitle = "Leadza Canvas"
- var themeColor = "#ffffff"


//- Includes
//-------------------------------------------------
include head
include styles
include scripts


//- Layout
//-------------------------------------------------
doctype html
html
  head
    +head
    +styles

  body.body
    .page
      block layout-content

    +scripts
