mixin styles
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
  link(href="css/remodal.css", rel="stylesheet")
  link(href="css/remodal-default-theme.css", rel="stylesheet")
  link(href="css/styles.css", rel="stylesheet")
