//- Extend layout
//------------------------
extends ../layout/layout


//- Append to layout
//-----------------------
block append layout-content
  mixin phone
    img(src="images/phone-front.png" alt="").phone__pic
    .phone__screen
      video(autoplay loop muted poster="images/video-poster.gif").phone__video
        source(src="video/video.mp4" type="video/mp4")


  .remodal(data-remodal-id='order')
    button.remodal__close(data-remodal-action="close") +
    .remodal__content
      iframe(
        src="https://docs.google.com/forms/d/e/1FAIpQLSeT2q2emEdT-ZA4vNy4etbIapKxzVB_FROmpdAFW_5LeqFtCQ/viewform?embedded=true"
        width="100%" height="700"
        frameborder="0" marginheight="0" marginwidth="0"
      ) Загрузка...


  header.header.panel
    .panel__in
      .panel__box.header__content
        p: strong Новогоднее предложение<br/>для интернет-магазинов
        p Продавайте больше товаров на&nbsp;аудиторию социальной&nbsp;сети&nbsp;<img class="facebook" src="images/facebook.svg" alt="Facebook" /> через формат CANVAS
      .phone
        .phone__in.js-phone
          +phone


  .inaction.panel
    .panel__in
      .inaction__content.panel__box
        h2 Рекламная кампания в&nbsp;праздники
        p Охватите больше целевой аудитории в Facebook через рекламу новогодних предложений пользователям мобильных устройств. Формат CANVAS Ads позволяет создать посадочную станицу прямо в Facebook, которую ваши потенциальные клиенты будут просматривать на своих смартфонах и мобильных телефонах.
      .phone.phone_small
        .phone__in
          +phone


  .whatyouget.panel
    .panel__in
      .whatyouget__content.panel__box
        h2 Что вы получите
        .whatyouget__item Посадочную страницу в формате Canvas, на которой мы расскажем новогоднюю историю про ваш продукт
        .whatyouget__item Максимальный охват целевой аудитории на мобильных устройствах в сезон праздников
        .whatyouget__item Рост продаж, обеспечиваемый за счет грамотной стратегии размещения рекламы, подбора оптимальных форматов рекламы, а также алгоритмов оптимизации рекламы по CPO


  .products
    .products__in
      .products__left
        .product.special
          .product__city Париж
          .product__content
            ul
              li Создание новогодней истории
              li Canvas - 3 варианта
              li Техническая интеграция сайта с Facebook
              li Настройка основной рекламной кампании
              li Настройка ретаргетинга
              li Рекомендации по итогам РК
          .product-buy
            .product-buy__price
              .product-buy__num 110 тыс. руб.
              .product-buy__desc + рекламный бюджет
            .product-buy__order
              a(href="#order").btn.large Заказать

      .products__right
        .product
          .product__city Рим
          .product__content
            ul
              li Создание новогодней истории
              li Canvas - 2 варианта
              li Техническая интеграция сайта с Facebook
              li Настройка основной рекламной кампании
              li Рекомендации по итогам РК
          .product-buy
            .product-buy__price
              .product-buy__num 80 тыс. руб.
              .product-buy__desc + рекламный бюджет
            .product-buy__order
              a(href="#order").btn Заказать

        .products__sep

        .product
          .product__city Рим -
          .product__content
            ul
              li Создание новогодней истории
              li Canvas - 2 варианта
              li Техническая интеграция сайта с Facebook
              li Настройка основной рекламной кампании
          .product-buy
            .product-buy__price
              .product-buy__num 70 тыс. руб.
              .product-buy__desc + рекламный бюджет
            .product-buy__order
              a(href="#order").btn Заказать


  footer.footer
    .footer__in
      .footer__logo Leadza
      .footer__contacts
        .contacts
          h3.contacts__name Контактная информация
          ul
            li
              strong Телефон
              | +7 (499) 653-66-31
            li
              strong E-mail
              a(href="mailto:vika@leadza.ru") vika@leadza.ru
            li
              strong Адрес
              | Москва, Серебряническая набережная, 29
