.footer
  padding 50px 20px
  background #192431

  @media $tablet
    padding 100px

  &__in
    max-width 610px
    max-width $max-width
    margin 0 auto

    @media $tablet
      display flex

  &__logo
    margin-right 140px
    color $color-white
    font-size 60px
    font-weight 300

// contacts
// ======================
.contacts
  margin-top 20px
  color $color-white

  &__name
    color $color-white
    margin-bottom 25px
    font-size 24px
    font-weight 300

  ul
    list-unstyled()

    li
      margin-bottom 16px
      color $color-grey
      font-family "Open Sans"
      font-size 13px
      font-weight 400
      line-height 18px

    strong
      display block
      margin-bottom 2px
      color $color-white
      font-size 14px
      font-weight normal

    a
      color $color-grey
      border-bottom none
      &:hover
        color $color-white
