.header
  text-align center
  background $color-grey url(../images/header-bg.jpg) left center no-repeat
  bg-cover()

  @media $tablet
    text-align left

  &__content
    color white
    text-shadow 1px 1.7px 5px #25221d

    strong
      font-size 27px
      font-weight 600
      line-height 36px

    p
      margin-bottom 15px
      color white
      font-size 20px
      font-weight 400
      line-height 40px

  .facebook
    width 100px
    display inline-block
    margin-bottom -10px
