.panel
  flex-ie-height-fix()

  @media $laptop
    min-height 100vh

  &__in
    position relative
    width 100%
    max-width $max-width
    margin 0 auto
    padding 50px 20px

    @media $tablet
      padding 50px 100px

    @media $laptop
      display flex
      justify-content space-between
      align-items center
      min-height 600px
      height 100vh
      padding 0px 20px

  &__box
    max-width 600px
