.phone
  display none

  @media $laptop
    display block
    position absolute
    top 50%
    right -210px
    width 100%
    max-width 500px
    margin-top 0px

  &__in
    position relative

    @media $laptop
      position absolute
      left 0px
      top 0px
      width 100%
      height 831px
      margin-top 150px
      transform translateY(-47%)

  &__pic
    display block
    width 100%

  &__screen
    position absolute
    left 0
    top 0
    width 100%
    padding 15% 45% 0 12%

  &__video
    width 100%
    border 2px solid #171717
    border-radius 3px

// small
// ======================
.phone_small
  display block
  margin 0 auto
  max-width 400px
  margin-top 50px
  transform translateX(30px)

  @media $laptop
    display none
