.products
  padding 50px 20px
  background #f5f6fa url(../images/products-bg.jpg) center center no-repeat
  bg-cover()

  @media $tablet
    padding 100px

  &__in
    width 100%
    max-width $max-width
    margin 0 auto

    @media $laptop
      display flex

  &__left
    flex 1 1 600px
    margin-top -50px
    padding-bottom 50px

    @media $tablet
      margin-top 0

    @media $laptop
      margin-right 95px
      padding-bottom 0

  &__right
    flex-grow 1

  &__sep
    margin 40px 0
    height 1px
    background-color #e1e1e1

// product
// ======================
.product
  max-width 700px
  margin 0 auto

  &.special
    margin 0 -20px
    padding 30px 20px
    background-color white
    box-shadow 0 0 62px rgba(0, 0, 0, 0.05)

    @media $tablet
      margin 0 auto
      padding 55px 45px

  &__city
    display inline-block
    margin-bottom 15px
    padding 5px 15px
    color $color-white
    font-size 11px
    font-weight 700
    text-transform uppercase
    border-radius 5px
    background #e1e1e1

    ^[0].special &
      margin-bottom 30px !important
      padding 7px 30px
      font-size 14px
      background #bd8cbf

  &__content
    margin-bottom 20px
    color #8297a7
    font-size 14px
    font-weight 400

    ^[0].special &
      margin-bottom 20px
      line-height 35px
      font-size 16px

      @media $laptop
        margin-bottom 90px

    ul
      margin-bottom 0
      list-style none

    li
      list-style none
      margin 0
      margin-bottom 10px
      &:before
        content '* '


// buy
// ======================
.product
  &-buy
    text-align center

    @media $laptop
      display flex
      justify-content space-between
      align-items center
      text-align left

    &__price
      padding-bottom 20px
      color #dd3030
      font-size 21px
      font-weight 600

      ^[0].special &
        font-size 27px

      @media $laptop
        padding-bottom 0

    &__desc
      font-size 14px
      font-weight 300
      ^[0].special &
        font-size 18px
