.remodal-overlay
  background alpha($color-white, .75)

.remodal-wrapper
  padding 10px

.remodal
  position relative
  padding 0
  max-width 960px
  margin-bottom -10px
  margin 0 auto
  color #8297a7
  font-size 18px
  background $color-white
  box-shadow 0 0 62px rgba(0, 0, 0, 0.1)

  &__content
    margin-bottom -10px

  &__close
    z-index 2
    position absolute
    right 15px
    top 15px
    width 50px
    height 50px
    color $color-grey
    font-size 32px
    background $color-white
    transform rotate(45deg)
    border-radius 400px
    cursor pointer
    anim-opacity()

    &:hover
      opacity .9
