.whatyouget
  background #dd2b2b url(../images/whatyouget-bg.jpg) center center no-repeat
  bg-cover()

  &__content
    color $color-white

    @media $laptop
      width 600px

    h2
      margin-bottom 70px
      color $color-white
      text-align center

      @media $tablet
        text-align left

  &__item
    position relative
    padding-bottom 50px

    @media $tablet
      padding-left 30px

    &:last-child
      padding-bottom 0

      &:after
        display none

    @media $tablet
      display flex
      text-align-last auto

      &:before
        position absolute
        content ''
        left 0px
        top 4px
        width 6px
        height 6px
        background #dd3333
        border 1px solid $color-white
        border-radius 50%

      &:after
        position absolute
        content ''
        left 3px
        top 12px
        width 1px
        height 100%
        background $color-white
