h1, h2, h3, h4, h5, h6
  margin 0
  margin-bottom 40px
  color $color-heading
  font-family font-secondary
  font-weight 400

h1
  color #222626
  font-size 44px
  font-weight 300

h2
  font-size 42px
  font-weight 300

h3
  font-size 20px
  font-weight 600
