// Inputs
// ================================================
label, input, button, select, textarea
  font-family font-primary
  border none
  background none
  outline none
  font-size 14px
  font-style normal


// Select
// ================================================
select
  width auto
  margin-bottom 10px
  padding 4px 10px
  background #fff
  border 1px solid #c8d9eb
  color #819397
  font-size 16px

  option
    padding 5px 10px

// input
// ================================================
.input
  width 300px
  margin-bottom 10px
  padding 12px 15px
  color #8297a7
  background-color #fafafa
  border 1px solid #cfcfcf
  anim()

  &:hover
    border-color #a3b6c5

  &:focus
    background-color #e8f3fd
    border-color #a3b6c5
