a
  display inline-block
  font-family font-primary
  border-bottom 1px solid $color-white
  tdn()
  anim()

  &:hover
    border-color $color-white

.btn
  cursor pointer
  padding 9px 35px
  color $color-white
  font-size 13px
  font-weight 700
  line-height 30px
  text-transform uppercase
  letter-spacing 2px
  background-color #dd3030
  border-radius 3px

  &.large
    font-size 18px
    padding 17px 50px

  &:hover
    background-color alpha(#dd3030, .7)
